
@{
    ViewData["Title"] = "Orders Page";
}

<div class="text-center">
    <h1 class="display-4">My Orders</h1>
 <hr/>
 <ol>
    <li>11    Delivered    11/2/2023        120000</li>
    <li>12    Approved     5/2/2023         99000</li>
    <li>13    Inprocess    12/2/2023        102000</li>
    <li>14    Approved     19/2/2023         94000</li>
    <li>15    Inprocess    21/2/2023        120000</li>
 </ol>
</div>