@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>Laptop Store</h1>
    <h3>Contact</h3>
    <p>Email : akil@gmail.com</p>
    <p>Contact Number : 9766660922</p>
    <p>Address : Karvenagar Pune</p>

</div>